@import 'settings';

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  h3 {
    font-family: 'Indie Flower', cursive;
  }
}

.fun-button {
  background-color: $green-yellow-crayon;
  box-shadow: 6px 6px 0px 4px $space-cadet,
  inset 1px 1px 0px 3px $pacific-blue;
  color: $pacific-blue;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  
  &:hover {
    opacity: 80%;
  }
}

.callout-purple {
  background-color: $violet;
  border-radius: 10px;
  border: 1px solid $space-cadet;
  padding: 2rem;

  ul {
    .drinks {
      list-style: none;
      text-align: center;
      font-size: 1.3rem;
      font-family: 'Raleway', sans-serif;
    }
  }
}

.icons {
  img {
    width: 32px;
    
    &:hover {
      opacity: 80%;
    }
  }

}


  .flash {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    margin: auto;
  }

  #fadeout {
    opacity: 1;
    transition: 1s opacity;
  }

  .drink-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; 

    .drink-item {
      max-width: 200px;
      margin: 1rem;
    
      img {
        border-radius: 10px;
      }

      &:hover {
        opacity: 75%;
      }
    }
  }