@import 'settings';

.devise {
  label {
    color: $pacific-blue;
    font-size: 1rem;
    line-height: 1rem;
  }

    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 2.4375rem;
      margin: 0 0 1rem;
      padding: 0.5rem;
      border: 1px solid $pacific-blue;
      border-radius: 7px;
      background-color: $middle-blue;
      box-shadow: inset -1px -1px 0px 2px $pacific-blue;
      font-family: inherit;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1rem;
      color: $pacific-blue;
      transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
      appearance: none;
  }

}