@import 'settings';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Paytone+One&family=Raleway&display=swap');

.footer {
  background-color: $violet;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 0 0;
  
  h5 {
    font-family: 'Indie Flower', cursive;
    margin-bottom: 0;
  }

  .align-end {
    text-align: right;
  }

  ul {
    display: inline-flex;
    margin: 0;
  }

  li {
    font-size: 2rem;
    list-style: none;
    margin: 0 .5rem;
  }

  @include breakpoint(small only) {
    text-align: center;

    .align-end {
        text-align: center;
    }
  }

}