@import 'settings';

.top-bar {
  width: 100%;
  max-height: 100px;
  margin: 0 0 1rem 0;
  @include breakpoint(small only) {
    padding: 0;
    text-align: center;
  }
}

.title-bar {
  width: 100%;
  margin: 0 0 1rem 0;
}

$topbar-center-logo-bg: $violet;

.topbar-center-logo {
  background: $topbar-center-logo-bg;

  img {
    max-height: 90px;
  }

  .menu {
    background: $topbar-center-logo-bg;

    a {
      color: $green-yellow-crayon;
      font-family: 'Indie Flower', cursive;
      font-size: 1.5rem;
        
      &:hover {
        opacity: 80%;
      }
    }
  }
}
button.menu-icon::after {
  background: $green-yellow-crayon;
  box-shadow: 0 7px 0 $green-yellow-crayon, 
  0 14px 0 $green-yellow-crayon;
}

.topbar-center-logo .top-bar-center {
  flex: 1 0 auto;

  @include breakpoint(small only) {
    display: none;
    width: 100%;
  }
}

.topbar-center-logo-mobile {
  background: $topbar-center-logo-bg;

  .menu-icon {
    vertical-align: text-top;
  }
}

